* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
  display: grid;
  grid-auto-flow: row;
  grid-template:
    'header' 1fr
    'projects' 150px
    'experience' 150px
    'footer' 20px;
}

/* Header section */

header{
  grid-area: header;
  background-color: #f8755a;
  display: grid;
  padding: 15px;
}
.header-1{
  display: grid;
  grid-auto-flow: column;
  border: 1px solid black;
  margin-bottom: auto;
  color: white;
  background-color: #35382e;
  font-size: 15px;
  padding: 2px 10px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 80px 1fr;
  place-items: end;
}
.header-left-menu{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.header-right-menu{
  display: grid;
  grid-auto-flow: column;
  gap: 30px;
  font-size: 11px;
  padding-bottom: 3px;
}

/* Projects section*/

.projects{
  grid-section: projects;
  background-color: #80808050;
}

/* Experience section */

.experience{
  grid-section: experience;
  background-color: #0000ff50;
}

/* Footer section */

footer{
  grid-section: footer;
  background-color: #000000;
  color: white;
  display: grid;
  place-items: center;
  font-size: 10px
}